* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.fbhead {
    background-color: #405B93;
    height: auto;
    border-bottom: 1px solid #333366;
}

.logo {
    text-decoration: none;
    font-size: 35px;
    color: white;
    margin-left: 70px;
    display: block;
    margin-top: 40px;
}

.email {
    color: white;
    padding-top: 5px;
    font-size: small;
}

.e-p {
    height: 25px;
    padding: 0px;
}

.tickmark {
    color: #9999cc;
    font-size: small;
    margin-bottom: 0px;
}

.pass {
    color: white;
    padding-top: 10px;
    font-size: small;
}

.login {
    margin-top: 35px;
    background-color: #0178FD;
    color: white;
    padding: 1px 10px;
}

.second {
    background-color: #E8EBF4;
}

.picture {
    padding-top: 50px;
    padding-left: 50px;
}

.picture p {
    color: #003366;
    padding-bottom: 10px;
}

.picture img {
    width: 450px;
    height: 170px
}

.bottom {
    padding-bottom: 10px;
}

.select-cls {
    font-size: small;
}

.crt-btn {
    background-color: #3EB127;
    color: white;
}